datasets/
figures/
logs/
notebooks/.ipynb_checkpoints/
outputs/
rawdata/moccasurvey/simulations/
rawdata/moccasurvey/fast_simulations.txt
rawdata/moccasurvey/hybrid_simulations.txt
rawdata/moccasurvey/slow_simulations.txt
scripts/__pycache__/
src/models/__pycache__/
src/models/mltrees/__pycache__/
src/optim/__pycache__/
src/processing/__pycache__/
src/utils/__pycache__/
jobs.txt
